.big-card {
  position: absolute;
  top: 35%;
  left: 30%;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: min(40%);
  margin-bottom: min(4%);
  margin-left: min(4%);
  background: #E5E5E5;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
}